<p>Tienes {{ myShoppingCart.length }} productos en tu carrito.</p>
<p>Total: ${{ total }}</p>
<p>Today: {{ date | date: "short" }}</p>
<p>Today: {{ date | timeAgo }}</p>

<button (click)="createNewProduct()">Funciona?</button>
<div class="products-grid">
  <app-prod
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-prod>
  <button (click)="loadMore()">Cargar más</button>
</div>

<div
  *ngIf="productChosen"
  class="product-detail"
  [class.active]="showProductDetail"
>
  <div>
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <img
      *ngIf="productChosen.images.length > 0"
      [src]="productChosen.images[0]"
      [alt]="productChosen.title"
    />
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar producto</button>
    <button (click)="deleteProduct()">Eliminar producto</button>
  </div>
</div>
